<div id="banner" class="list_banner">
  <h1>Create Your List</h1>
</div>

<div class="select">
  <div class="wrapper_skinny">
	<%= render partial: 'form', locals: { list: @list } %>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
	var counter = 0;
	for(var i=1; i<10; i++){
	  // $('#'+i).hide();
	  $('#wrapper_skinny').hide();
	};
	$( "#add_recommendation_form" ).click(function(e) {
			e.stopPropagation;
			e.preventDefault;
			counter++;
			$('#'+counter).css('display','block');
	});
});
</script>	


