<div id="banner" class="list_banner">
  <h1><%= @recommendation.mobile_app.name %></h1>
</div> <!-- for div id="banner"  -->


<p><%= recommendation.comment %></p>
<p><%= recommendation.rating %></p>
<p><%= recommendation.tag_names.join(",") %></p>
