<div id="banner" class="list_banner">
	<h1>Discover your new favorite apps</h1>
</div>

<div id="podcasts" class="cf">
	<div class="wrapper">
		<ul class="cf">
	<% @users.each do |user| %>
	<img src="http://api.adorable.io/avatars/110/<%= user.name %>", width="110" , height="110"> </img>
	<%= link_to user.name, user_path(user) %>		
	</ul>
	<% end %>
</div>
