<div id="banner" class="list_banner">
	<h1>Discover your new favorite apps</h1>
</div>

<!-- <div id="podcasts" class="cf">
	<div class="wrapper">
		<ul class="cf"> -->
		<section class= "block container">
<div class="gw sm-two-up md-four-up">
  <div class="g">
    <ul class="cf">
     	
	<% @users.each do |user| %></br>
	 <a class="thumbnail"><a href="/users/<%= user.id %>"><img src="http://api.adorable.io/avatars/110/<%= user.name %>", width="110" , height="110"> </img></a>
	<div class="thumbnail__caption">
		<%= link_to user.name, user_path(user) %></a></br>
		</div>
	<!-- for <div class="episode_thumbnail">	 -->
  <!-- for <div class="wrapper_skinny"> -->
	<% end %>
</div>
</section>

</div>
