<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>List Dashboard</h1>
    </div> <!-- for <div class="wrapper_skinny"> -->
  </div><!-- for <div id="show_banner"> -->

<div id="links">
  <div class="wrapper_skinny">
    <ul>
    <li class="current">Lists</li>
      <li><%= link_to "New List", new_list_path %></li>
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
    </ul>
  </div><!-- for div class="wrapper_skinny"> -->
</div><!-- for div id="links"> -->

<div id="episodes">
  <div class="wrapper_skinny">
      <ul class="cf">
      <li class="cf">
  <div class="episode_thumbnail">
    <a href="episode.html">
      <% @user.lists.each do |list| %>
      <%= link_to list.title, list_path %></br>
      <% end %>
    </a>
</div><!-- for <div id="podcast_show"> -->
    

       

